In [14]:
import pandas as pd

In [15]:
df = pd.read_csv("msft.csv", header=1,index_col='Date Time',parse_dates=True)

In [16]:
df

                     Price
Date Time
2017-08-17 09:00:00  72.38
2017-08-17 09:15:00  71.00
2017-08-17 09:30:00  71.67
2017-08-17 10:00:00  72.80
2017-08-17 10:30:00  73.00
2017-08-17 11:00:00  72.50

In [17]:
df.index

DatetimeIndex(['2017-08-17 09:00:00', '2017-08-17 09:15:00',
               '2017-08-17 09:30:00', '2017-08-17 10:00:00',
               '2017-08-17 10:30:00', '2017-08-17 11:00:00'],
              dtype='datetime64[ns]', name='Date Time', freq=None)

In [18]:
df=df.tz_localize(tz='US/Eastern')

In [19]:
df

                           Price
Date Time
2017-08-17 09:00:00-04:00  72.38
2017-08-17 09:15:00-04:00  71.00
2017-08-17 09:30:00-04:00  71.67
2017-08-17 10:00:00-04:00  72.80
2017-08-17 10:30:00-04:00  73.00
2017-08-17 11:00:00-04:00  72.50

In [20]:
df=df.tz_convert(tz='Europe/Berlin')

In [21]:
df

                           Price
Date Time
2017-08-17 15:00:00+02:00  72.38
2017-08-17 15:15:00+02:00  71.00
2017-08-17 15:30:00+02:00  71.67
2017-08-17 16:00:00+02:00  72.80
2017-08-17 16:30:00+02:00  73.00
2017-08-17 17:00:00+02:00  72.50

In [22]:
df=df.tz_convert(tz='Asia/Calcutta')

In [23]:
df

                           Price
Date Time
2017-08-17 18:30:00+05:30  72.38
2017-08-17 18:45:00+05:30  71.00
2017-08-17 19:00:00+05:30  71.67
2017-08-17 19:30:00+05:30  72.80
2017-08-17 20:00:00+05:30  73.00
2017-08-17 20:30:00+05:30  72.50

In [24]:
df.index=df.index.tz_convert(tz='Asia/Calcutta')

In [25]:
df

                           Price
Date Time
2017-08-17 18:30:00+05:30  72.38
2017-08-17 18:45:00+05:30  71.00
2017-08-17 19:00:00+05:30  71.67
2017-08-17 19:30:00+05:30  72.80
2017-08-17 20:00:00+05:30  73.00
2017-08-17 20:30:00+05:30  72.50

In [26]:
rng=pd.date_range(start='2017/01/05',periods=10,freq='H',tz='Europe/Berlin')

In [27]:
rng

DatetimeIndex(['2017-01-05 00:00:00+01:00', '2017-01-05 01:00:00+01:00',
               '2017-01-05 02:00:00+01:00', '2017-01-05 03:00:00+01:00',
               '2017-01-05 04:00:00+01:00', '2017-01-05 05:00:00+01:00',
               '2017-01-05 06:00:00+01:00', '2017-01-05 07:00:00+01:00',
               '2017-01-05 08:00:00+01:00', '2017-01-05 09:00:00+01:00'],
              dtype='datetime64[ns, Europe/Berlin]', freq='H')

In [28]:
s=pd.Series(range(10),index=rng)

In [29]:
s

2017-01-05 00:00:00+01:00    0
2017-01-05 01:00:00+01:00    1
2017-01-05 02:00:00+01:00    2
2017-01-05 03:00:00+01:00    3
2017-01-05 04:00:00+01:00    4
2017-01-05 05:00:00+01:00    5
2017-01-05 06:00:00+01:00    6
2017-01-05 07:00:00+01:00    7
2017-01-05 08:00:00+01:00    8
2017-01-05 09:00:00+01:00    9
Freq: H, dtype: int64

In [33]:
b=s.tz_convert(tz='Europe/Berlin')

In [34]:
m=s.tz_convert(tz='Asia/Calcutta')

In [35]:
b

2017-01-05 00:00:00+01:00    0
2017-01-05 01:00:00+01:00    1
2017-01-05 02:00:00+01:00    2
2017-01-05 03:00:00+01:00    3
2017-01-05 04:00:00+01:00    4
2017-01-05 05:00:00+01:00    5
2017-01-05 06:00:00+01:00    6
2017-01-05 07:00:00+01:00    7
2017-01-05 08:00:00+01:00    8
2017-01-05 09:00:00+01:00    9
Freq: H, dtype: int64

In [36]:
m

2017-01-05 04:30:00+05:30    0
2017-01-05 05:30:00+05:30    1
2017-01-05 06:30:00+05:30    2
2017-01-05 07:30:00+05:30    3
2017-01-05 08:30:00+05:30    4
2017-01-05 09:30:00+05:30    5
2017-01-05 10:30:00+05:30    6
2017-01-05 11:30:00+05:30    7
2017-01-05 12:30:00+05:30    8
2017-01-05 13:30:00+05:30    9
Freq: H, dtype: int64

In [37]:
b+m

2017-01-04 23:00:00+00:00     0
2017-01-05 00:00:00+00:00     2
2017-01-05 01:00:00+00:00     4
2017-01-05 02:00:00+00:00     6
2017-01-05 03:00:00+00:00     8
2017-01-05 04:00:00+00:00    10
2017-01-05 05:00:00+00:00    12
2017-01-05 06:00:00+00:00    14
2017-01-05 07:00:00+00:00    16
2017-01-05 08:00:00+00:00    18
Freq: H, dtype: int64